@use "../abstracts/variables" as v;

.layoutWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;

  width: 100%;
  overflow-x: hidden;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.8s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

:global {
  html {
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #1a1a1a;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;

    &:hover {
      background: v.$accent-yellow;
    }
  }
}