@use "../../abstracts/variables" as v;

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 35px 0;
  z-index: 1000;
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.scrolled {
  padding: 15px 0;
  background: rgba(v.$bg-dark, 0.9);
  backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100;

  span {
    display: block;
    width: 25px;
    height: 1px;
    background: v.$text-light;
    margin: 8px 0;
    transition: 0.3s;
  }

  &.open {
    span:nth-child(1) {
      transform: translateY(4.5px) rotate(45deg);
    }

    span:nth-child(2) {
      transform: translateY(-4.5px) rotate(-45deg);
    }
  }

  @media (max-width: 991px) {
    display: block;
  }
}

.mobileMenu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: v.$bg-dark;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s cubic-bezier(0.8, 0, 0.2, 1);

  &.show {
    right: 0;
  }

  @media (min-width: 992px) {
    display: none;
  }
}

.desktopMenu {
  @media (max-width: 991px) {
    display: none;
  }
}