@use "../abstracts/variables" as v;

.chip {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  transition: all 0.3s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.05);
    border-color: rgba(v.$accent-yellow, 0.3);
    transform: translateY(-2px);
  }

  i { font-size: 1.1rem; }
  .name {
    color: v.$text-muted;
    font-weight: 200;
    font-size: 0.9rem;
  }
}