@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=JetBrains+Mono:wght@400;700;800&family=Inter:wght@400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    font-family: 'Inter', sans-serif !important;
    background-color: #F2F0EB;
    -webkit-font-smoothing: antialiased;
}

body:not(:has(.contact-manga-wrapper)) {
    .grecaptcha-badge {
        visibility: hidden !important;
        opacity: 0 !important;
        pointer-events: none !important;
    }
}

.contact-manga-wrapper {
    .grecaptcha-badge {
        visibility: visible;
        opacity: 1;
        bottom: 20px !important;
    }
}
